include LICENSE
recursive-include tests *.py *.q *.json
recursive-include tests/sample_vasp_* *
recursive-include bin *
recursive-include waspy/data *.py *.json
recursive-include waspy/scheduler_* *.py *.json *.q
recursive-include vasp_settings *.py *.json
